<!doctype html>
<html lang="pt-br">

<head>
	<%- include ../comum/google-analytics.ejs %>
    <%- include ../comum/imports.ejs %>
	<!-- main css -->
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
	<link rel="stylesheet" href="/css/style.css">
    <style>
        .button_remover {
            position:absolute;
            z-index:1;
            padding: 5px 0px 0px 5px; 
        }
    </style>
</head>
    

    
<body>

    <!--=============== Seleção do tipo de navegador de acordo com usuário logado ====================-->
    <% if(session.tipo == 'aluno' && session.usuario != 'undefined') { %>
            <%- include ../aluno/comum/header %>
    <% } else if(session.tipo == 'professor' && session.usuario != 'undefined') { %>
            <%- include ../professor/comum/header %>
    <% } else { %>
            <%- include ../headerOff %>
    <% } %>
    <!--=============== END - Seleção do tipo de navegador de acordo com usuário logado ================-->
    

    <!--================First Upcoming Games Area =================-->
    <section class="upcoming_games_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main_title">
                        <h2>Sessões Coding Dojo</h2>
                        <h1>Sessões Coding Dojo</h1>
                    </div>
                </div>
            </div>
            
            <!--===================== Filtro ==================================== -->
            <div class="container">
                <form action="filtro" method="get" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input type="text" name="problema" class="form-control search-slt" placeholder="Buscar por Problema" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Buscar por Problema'">
                                </div>
                                 <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input type="text" name="professor" class="form-control search-slt" placeholder="Buscar por Professor" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Buscar por Professor'">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <select name="dificuldade" class="form-control search-slt" id="exampleFormControlSelect1">
                                        <option value="">Dificuldade</option>
                                        <option value="fácil">Fácil</option>
                                        <option value="médio">Médio</option>
                                        <option value="difícil">Difícil</option>
                                        <option value="expert">Expert</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <button type="submit" class="ajuste_pesquisa btn primary_btn btn-block">Pesquisar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--===================== End Filtro ==================================== -->
            
            <hr>
            
            <div class="row text-center">

                <% if(sessoes.length > 0) { %>
                    <% for(var i = 0; i < sessoes.length; i++) { %>
                        <div class="col-lg-3 col-md-6">
                            
                            
                            <% if(session.tipo == 'professor' && session.usuario.id == sessoes[i].id_professor && sessoes[i].situacao == 1) { %>
                            <div class="button_remover">
                                <a href="/sessao/delete?id=<%=sessoes[i].id%>">
                                    <img src="/img/iconExit.png" height="30" data-toggle="tooltip" data-placement="right" title="Cancelar Sessão">
                                </a>
                            </div>
                            <% } %>
                            
                            <a href="/sessao/info?id=<%=sessoes[i].id%>">
                                <div class="new_games_item">
                                    <img src="/img/gallery_img2.png" alt="">
                                    <div class="upcoming_title">
                                        <h3><%=sessoes[i].nome_problema%></h3>
                                    </div>
                                </div>
                            </a>
                            
                            <div class="cardsessions">
                                <% if(sessoes[i].situacao == 2) { %>
                                    <div class="status_session_start" data-toggle="tooltip" data-placement="right" title="Sessão em andamento"></div>
                                <% } else if(sessoes[i].situacao == 1) { %>
                                    <div class="status_session_wait" data-toggle="tooltip" data-placement="right" title="Sessão em espera"></div>
                                <% } else if(sessoes[i].situacao == 0) { %>
                                    <div class="status_session_finish" data-toggle="tooltip" data-placement="right" title="Sessão finalizada"></div>
                                <% } %>
                                
                                <h6>Professor: <%=sessoes[i].nome %></h6>
                                <h6>Codigo: <%=sessoes[i].nome_sessao %></h6>
                                <h6>Tipo de Sessão: <%=sessoes[i].tipo_sessao %></h6>
                                
                                <% if(session.tipo == 'professor' && session.usuario.id == sessoes[i].id_professor && sessoes[i].confirm_sessao_professor == 0) { %>
                                
                                    <a href="/sessao/activate?idSessao=<%=sessoes[i].id%>">
                                        <div>
                                            <strong>Liberar Sessão</strong>
                                        </div>
                                    </a>
                                    
                                <% } %>
                            </div>
                        </div>

                    <% } %>
                <% } %>
        
            </div>
        </div>
    </section>
    <!--================End Upcoming Games Area =================-->
    

    
    
    <% include ../comum/footer %>
    
    <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/stellar.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script> <!-- Popups -->
	<script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script> <!-- Selecionar select -->
	<script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script> <!-- Adicionar imagens aleatórias -->
	<script src="/vendors/isotope/isotope-min.js"></script>
	<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/vendors/counter-up/jquery.waypoints.min.js"></script> <!-- Acompanha tela e realiza eventos dependendo do que se vê na tela -->
	<script src="/vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="/js/mail-script.js"></script>
    <script src="js/theme.js"></script>
    
    <!-- JS adicionais -->
    <script src="/js/sweetalert2.min.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/alerts.js"></script>
    
    <!--========================= Menssagem Sessão criada com sucesso ============================-->
        <% if(typeof menssagemCriar != 'undefined') { %>
            <script>
                sessaoCriadoSucesso();
            </script>
        <% } else if (typeof menssagemRemover != 'undefined') { %>
            <script>
                sessaoCancelada();
            </script>
        <% } else if (typeof menssagemActivate != 'undefined') { %>
            <script>
                menssagemLiberada();
            </script>
        <% } %>
    <!--========================= END - Menssagem Sessão criada com sucesso ============================-->
    
</body>

</html>