<!doctype html>
<html lang="pt-br">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.icon" type="image/png">
	<title>Coding Play</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/vendors/linericon/style.css"> <!-- Icones -->
	<link rel="stylesheet" href="/css/font-awesome.min.css"> <!-- Icones -->
	<link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css"> <!-- Popup de video ou fotos -->
	<link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css"> <!-- Selecionar select -->
	<link rel="stylesheet" href="/vendors/animate-css/animate.css">
	<link rel="stylesheet" href="/vendors/flaticon/flaticon.css"> <!-- Icones -->
	<!-- main css -->
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/novaSessao.css">
    
</head>
    

    
<body>

    <!--=============== Seleção do tipo de navegador de acordo com usuário logado ====================-->
    <% if(session.tipo == 'aluno' && session.usuario != 'undefined') { %>
            <%- include ../aluno/comum/header %>
    <% } else if(session.tipo == 'professor' && session.usuario != 'undefined') { %>
            <%- include ../professor/comum/header %>
    <% } else { %>
            <%- include ../headerOff %>
    <% } %>
    <!--=============== END - Seleção do tipo de navegador de acordo com usuário logado ================-->
    
    <section class="section_gap_top" id="dadosCriarSessao">
        <div class="container">
            
            <!--================ Information about Session Area =================-->
            <h3 class="mb-30 title_color text-center" id="teast">Criar Sessão do Dojo de Programação</h3>
            <form action="/sessao/save" method="post" id="novaSessao">
                <div class="row">
                    <div class="offset-lg-1"></div>
                    <div class="col-lg-5 col-sm-12">
                            <label for="hora_inicio">Data Inicio</label>
                            <input id="hora_inicio" type="datetime-local" name="hora_inicio" required>
                    </div>
                    
                    <label class="col-sm-2 col-form-label" for="tamanho_grupo">Tamanho do Grupo</label>
                    <div class="col-lg-3 col-sm-10 p-0">
                        <select name="tamanho_grupo" class="form-control search-slt" id="tamanho_grupo" required>
                            <option></option>
                            <option value="4">4 Pessoas</option>
                            <option value="5">5 Pessoas</option>
                            <option value="6">6 Pessoas</option>
                            <option value="7">7 Pessoas</option>
                            <option value="8">8 Pessoas</option>
                            <option value="9">9 Pessoas</option>
                            <option value="10">10 Pessoas</option>
                        </select>
                    </div>
                    <div class="offset-lg-1"></div>
                </div>
                
                <div class="row mt-10">
                    
                    <div class="offset-lg-1"></div>
                    <div class="col-lg-5 col-sm-12">
                            <label for="hora_final">Data Final</label>&nbsp;
                            <input id="hora_final" type="datetime-local" name="hora_final" required>
                    </div>
                    
                    <label class="col-sm-2 col-form-label" for="tempo_rotacao">Tempo de Rotação </label>
                    <div class="col-lg-3 col-sm-10 p-0">
                        <select name="tempo_rotacao" class="form-control search-slt" id="tempo_rotacao" required>
                            <option></option>
                            <option value="6">6 Minutos</option>
                            <option value="7">7 Minutos</option>
                            <option value="8">8 Minutos</option>
                            <option value="9">9 Minutos</option>
                            <option value="10">10 Minutos</option>
                            <option value="11">11 Minutos</option>
                            <option value="12">12 Minutos</option>
                        </select>
                    </div>
                    <div class="offset-lg-1"></div>
                </div>
                
                <!--============ Valores Inputs Ocultos ==============-->
                    <input type="text" name="id_problema" id="idProblema" hidden required>
                    <input type="text" name="nome_sessao" id="nomeSessao" hidden required>
                <!--============ END - Valores Inputs Ocultos ==============-->
                
                <table class="col-lg-12 col-sm-10 listProblemas" id="problemaSelecionado">
                    <tr>
                        <th>Problema</th>
                        <th>Professor</th>
                        <th>Dificuldade</th>
                    </tr>
                    <tr class="problema">
                        <td class="seleCampo" id="problema"></td>
                        <td class="seleCampo" id="professor"></td>
                        <td class="seleCampo" id="dificuldade"></td>
                    </tr>
                </table>
                
                <div class="text-center button-group-area mt-20" id="confirmar">
                    <input type="submit" class="genric-btn info-border circle arrow" value="Confirmar">
                </div>
                <div class="text-center button-group-area mt-0" id="cancelar">
                    <input type="reset" class="genric-btn danger-border circle arrow" value="Cancelar">
                </div>
                
            </form>
        </div>
    </section>
    <!--================ END - Information about Session Area =================-->
            
    <!--================ Problem Area =================-->
    <section class="upcoming_games_area" id="areaProblema">
        <div class="container">
            <div class="row">
                <h3 class="title_color">Selecione um problema</h3>

                <!--===================== Filtro ==================================== -->
                <div class="container">
                    <form class="filtro" action="filtro" method="get" novalidate="novalidate">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <input type="text" name="problema" class="form-control search-slt" placeholder="Buscar por Problema" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Buscar por Problema'">
                                    </div>
                                     <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <input type="text" name="professor" class="form-control search-slt" placeholder="Buscar por Professor" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Buscar por Professor'">
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <select name="dificuldade" class="form-control search-slt" id="exampleFormControlSelect1">
                                            <option value="">Dificuldade</option>
                                            <option value="fácil">Fácil</option>
                                            <option value="médio">Médio</option>
                                            <option value="difícil">Difícil</option>
                                            <option value="expert">Expert</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <button type="submit" class="ajuste_pesquisa btn primary_btn btn-block">Pesquisar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--===================== End Filtro ==================================== -->

                <table class="col-lg-12 col-sm-10 listProblemas">
                    <tr>
                        <th>Número</th>
                        <th>Problema</th>
                        <th>Professor</th>
                        <th>Dificuldade</th>
                    </tr>

                    <% for(var i = 0; i < problemas.length; i++) { %>
                        <tr class="pointer">
                            <td data-nome="<%=problemas[i].id%>" hidden></td>
                            <td class="seleCampo">0<%=i+1%></td>
                            <td data-problema="<%=problemas[i].nome_problema%>" class="seleCampo"><%=problemas[i].nome_problema%></td>
                            <td data-professor="<%=problemas[i].nome%>" class="seleCampo"><%=problemas[i].nome%></td>
                            <td data-dificuldade="<%=problemas[i].dificuldade%>" class="seleCampo"><%=problemas[i].dificuldade%></td>
                        </tr>
                    <% } %>
                </table>
            </div>
            <!--================ END - Problem Area =================-->

        </div>
    </section>
    
    <% include ../comum/footer %>
    
    <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/stellar.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script> <!-- Popups -->
	<script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script> <!-- Selecionar select -->
	<script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script> <!-- Adicionar imagens aleatórias -->
	<script src="/vendors/isotope/isotope-min.js"></script>
	<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/vendors/counter-up/jquery.waypoints.min.js"></script> <!-- Acompanha tela e realiza eventos dependendo do que se vê na tela -->
	<script src="/vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="/js/mail-script.js"></script>
    <script src="js/theme.js"></script>
    
    <!-- JS adicionais -->
    <script src="/js/sweetalert2.min.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/novaSessao.js"></script>

    


</body>

</html>