<!doctype html>
<html lang="pt-br">

<head>
    <%- include ../comum/google-analytics.ejs %>
    <%- include ../comum/imports.ejs %>
    
	<!-- main css -->
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sessaoDetalhada.css">
    <script> var codigoPusher = "<%= session.usuario.codigo_pusher %>" </script>
    <script> var nomeUsuario = "<%= session.usuario.nome %>" </script>
    <script> var tipoUsuario = "<%= session.tipo %>" </script>
    <script> var text_colaboractive = "<%=sessao[0].texto_colaborativo%>" </script>
    <script> var situacao = "<%=sessao[0].situacao%>" </script>
    <script> var idSessao = "<%=sessao[0].id%>" </script>
    <script> var qtdGrupo = "<%=sessao[0].tamanho_grupo%>" </script>
    <script>var channel;</script>
</head>
    

    
<body>

    <!--=============== Seleção do tipo de navegador de acordo com usuário logado ====================-->
    <% if(session.tipo == 'aluno' && session.usuario != 'undefined') { %>
            <%- include ../aluno/comum/header %>
    <% } else if(session.tipo == 'professor' && session.usuario != 'undefined') { %>
            <%- include ../professor/comum/header %>
    <% } else { %>
            <%- include ../headerOff %>
    <% } %>
    <!--=============== END - Seleção do tipo de navegador de acordo com usuário logado ================-->
 

        <div class="container">
            <div class="section_gap">
                <!-- Perguntas Desativadas -->
                <%# if(typeof perguntas != 'undefined') { %>
                <% if(false) { %>
                    <div class="row">
                        <div class="col-lg-12 style_div_questionario">
                            <form id="novaConta" action="/questionario/save" method="post">
                                <h2 class="mb-30 title_color" style="text-align:center;">Questionário</h2>
                                <h5 class="title_color" style="text-align:center;">responda o questionário sobre a sessão</h5>
                                <ul style="padding:0px;margin:0px;">

                                    <% for(var i = 0; i < perguntas.length; i++) { %>
                                        <% if(perguntas[i].pergunta_fechada == '1') { %>
                                            <div class="row block_perguntas_estilo">
                                                <div class="col-lg-4 col-md-4" style="margin: auto 0;">
                                                    <li class="perguntas_estilo"><%=perguntas[i].pergunta%></li>
                                                </div>
                                                <div class="col-lg-8 col-md-8 block_opcoes">
                                                    <input type="radio" name="<%=perguntas[i].id%>" value="" hidden checked>
                                                    <div class="col-sm-12 col-lg-2 col-md-2 opcoes_sim_nao">
                                                        <input type="radio" name="<%=perguntas[i].id%>" value="4"><p>Sim</p>
                                                    </div>
                                                    <div class="col-sm-12 col-lg-2 col-md-2 opcoes_sim_nao">
                                                        <input type="radio" name="<%=perguntas[i].id%>" value="3"><p>Parcialmente Sim</p>
                                                    </div>
                                                    <div class="col-sm-12 col-lg-2 col-md-2 opcoes_sim_nao">
                                                        <input type="radio" name="<%=perguntas[i].id%>" value="2"><p>Parcialmente Não</p>
                                                    </div>
                                                    <div class="col-sm-12 col-lg-2 col-md-2 opcoes_sim_nao">
                                                        <input type="radio" name="<%=perguntas[i].id%>" value="1"><p>Não</p>
                                                    </div>
                                                    <div class="col-sm-12 col-lg-2 col-md-2 opcoes_sim_nao">
                                                        <input type="radio" name="<%=perguntas[i].id%>" value="0" checked ><p>Sem Opinião</p>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } else if(perguntas[i].pergunta_fechada == '0') { %>
                                            <div class="row block_perguntas_estilo">
                                                <div class="col-lg-4 col-md-4" style="margin: auto 0;">
                                                    <li class="perguntas_estilo"><%=perguntas[i].pergunta%></li>
                                                </div>
                                                <div class="col-lg-8 col-md-8">
                                                    <textarea name="<%=perguntas[i].id%>" class="single-input textarea_respostas" rows="3" maxlength="2000"></textarea>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %>

                                </ul>
                                <div class="button-group-area botao_style_enviar">
                                    <input type="submit" class="genric-btn info-border circle arrow" value="Enviar">
                                </div>
                                
                                <!--============ Valores Inputs Ocultos ==============-->
                                    <input type="text" name="id_sessao" value="<%=sessao[0].id%>" hidden required>
                                <!--============ END - Valores Inputs Ocultos ==============-->

                            </form>
                        </div>
                    </div>
                <% } %>
                
                
                <% if(sessao[0].situacao == 0) {%>
                    <h2 class="mb-30 title_color" style="text-align:center;">Sessão finalizada</h2>
                <% } %>
                <div class="row">
                    <div class="col-lg-8">
                        <% if(sessao[0].situacao == 1 || sessao[0].situacao == 2) { %>
                            <h2 class="title_color" style="display:inline-block"><strong>Problema: </strong><%=sessao[0].nome_problema%></h2>
                            <h4 class="mb-30 title_color"><strong>Dificuldade: </strong><%=sessao[0].dificuldade%></h4>

                                <blockquote class="generic-blockquote">
                                    <pre style="white-space: pre-wrap;"><%=sessao[0].desc_problema%></pre>
                                </blockquote>
                        
                        <% } else if(sessao[0].situacao == 0) { %>
                            <% if(sessao[0].situacao == 0) { %>
                                
                        
                                <div class="botao_style" id="botao_problema">Problema</div>
                                <blockquote class="adapted-blockquote" id="problema">

                                    <h3 class="title_color" style="display:inline-block"><strong>Problema: </strong><%=sessao[0].nome_problema%></h3>
                                    <h5 class=" title_color"><strong>Dificuldade: </strong><%=sessao[0].dificuldade%></h5>
                                    
                                    <pre style="white-space: pre-wrap;"><%=sessao[0].desc_problema%></pre>
                                    
                                </blockquote>
                        
                                <div class="botao_style" id="botao_resposta">Resposta</div>
                                <pre class="adapted-blockquote" id="resposta"><%=sessao[0].resposta_sessao_realizada%>
                                </pre>
                        
                                <% if(sessao[0].resposta_correta != null) { %>
                                    <div class="botao_style" id="botao_feedback">Feedback do Professor</div>
                                    
                                    <% if(sessao[0].resposta_correta == 1) { %>
                                        <blockquote class="adapted-blockquote" id="feedback">
                                            <h4 class="title_color" style="display:inline-block"><strong>Resposta Correta</strong></h4>
                                            
                                            <% if(sessao[0].feedback_sessao != "") { %>
                                                <pre style="white-space: pre-wrap;"><strong><%=sessao[0].nome%>: </strong><%=sessao[0].feedback_sessao%></pre>
                                            <% } %>
                                        </blockquote>
                                    <% } else if(sessao[0].resposta_correta == 0) { %>
                                        <blockquote class="adapted-blockquote" id="feedback">
                                            <h4 class="title_color" style="display:inline-block"><strong>Resposta Incorreta</strong></h4>

                                            <% if(sessao[0].feedback_sessao != "") { %>
                                                <pre style="white-space: pre-wrap;"><strong><%=sessao[0].nome%>: </strong><%=sessao[0].feedback_sessao%></pre>
                                            <% } %>
                                        </blockquote>
                                    <% } %>
                                <% } %>
                        
                                <% if(session.usuario.id == sessao[0].id_professor && session.tipo == 'professor' && sessao[0].resposta_correta == null) { %>
                                    <form action="/sessao/feedback/save" method="post">
                                        <h4 class="title_color"><strong>A resposta está correta ?</strong></h4>
                        
                                        <label><input type="radio" name="resposta" value="1" required> Sim</label>
                                        <label><input type="radio" name="resposta" value="0" required> Não</label>

                                        <textarea name="feedback" class="single-input textarea_respostas" rows="5" maxlength="2000" placeholder="Escreva um feedback" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Escreva um feedback'"></textarea>
                                        
                                        <div class="button-group-area botao_style_enviar">
                                            <input type="submit" class="genric-btn info-border circle arrow" value="Enviar">
                                        </div>
                                        
                                        <!--============ Valores Inputs Ocultos ==============-->
                                            <input type="text" name="sessao_id" value="<%=sessao[0].id%>" hidden required>
                                        <!--============ END - Valores Inputs Ocultos ==============-->
                                    </form>
                                <% } %>
                            <% } %>
                        <% } %>
                        
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Detalhes</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <a class="d-flex justify-content-between">
                                            <p>Codigo</p>
                                            <p><%=sessao[0].nome_sessao%></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex justify-content-between">
                                            <p>Professor</p>
                                            <p><%=sessao[0].nome%></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex justify-content-between">
                                            <p>Tipo Sessão</p>
                                            <p><%=sessao[0].tipo_sessao%></p>
                                        </a>
                                    </li>
                                    <% if(sessao[0].situacao == 0) { %>
                                        <li>
                                            <a class="d-flex justify-content-between">
                                                <p>Hora Início</p>
                                                <p>
                                                        <%=sessao[0].hora_inicio_realizado%>
                                                </p>
                                            </a>
                                        </li>
                                    <% } %>
                                    <% if(sessao[0].situacao == 0) { %>
                                        <li>
                                            <a class="d-flex justify-content-between">
                                                <p>Hora Final</p>
                                                <p>
                                                        <%=sessao[0].hora_final_realizado%>
                                                </p>
                                            </a>
                                        </li>
                                    <% } %>
                                    <li>
                                        <a class="d-flex justify-content-between">
                                            <p>Tamanho do grupo</p>
                                            <p>
                                                <% if(sessao[0].situacao == 1 || sessao[0].situacao == 2) { %>
                                                    <%=sessao[0].tamanho_grupo%>
                                                <% } else if(sessao[0].situacao == 0) { %>
                                                    <%=participantes.length%>
                                                <% } %>
                                            
                                            pessoas</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex justify-content-between">
                                            <p>Tempo de Rotação</p>
                                            <p><%=sessao[0].tempo_rotacao%> minutos</p>
                                        </a>
                                    </li>
                                    <% if(sessao[0].situacao == 1 || sessao[0].situacao == 2) { %>
                                        <li>
                                            <a class="d-flex justify-content-between">
                                                <p>Participantes Online</p>
                                                <p id="<%=sessao[0].texto_colaborativo%>"></p>
                                            </a>
                                        </li>
                                        <% if(session.usuario != 'undefined' && session.tipo == 'aluno') { %>
                                            <a href="/sessao/active?idSessao=<%=sessao[0].id%>&participante=1&id=presence-<%=sessao[0].texto_colaborativo%>" id="participar">
                                                <div  class="participaSessao">
                                                    <strong>Participar</strong>
                                                </div>
                                            </a>
                                        <% } %>

                                        <a href="/sessao/active?idSessao=<%=sessao[0].id%>&participante=0&id=presence-<%=sessao[0].texto_colaborativo%>" id="observar">
                                            <div  class="observaSessao">
                                                <strong>Observar</strong>
                                            </div>
                                        </a>
                                    <% } else if(sessao[0].situacao == 0) { %>
                                        <h4 class="widget_title mt-10">Participantes</h4>
                                    
                                        <% for(i=0; i < participantes.length; i++) { %>
                                            <li>
                                                <a class="">
                                                    <p class="partiList"><%=participantes[i].nome%></p>
                                                </a>
                                            </li>
                                        <% } %>
                                    <% } %>
                                </ul>
                                
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
    
    <% include ../comum/footer %>
    
    <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/stellar.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script> <!-- Popups -->
	<script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script> <!-- Selecionar select -->
	<script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script> <!-- Adicionar imagens aleatórias -->
	<script src="/vendors/isotope/isotope-min.js"></script>
	<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/vendors/counter-up/jquery.waypoints.min.js"></script> <!-- Acompanha tela e realiza eventos dependendo do que se vê na tela -->
	<script src="/vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="/js/mail-script.js"></script>
    <script src="js/theme.js"></script>
    
    <!-- JS adicionais -->
    <script src="/js/sweetalert2.min.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/alerts.js"></script>
    
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
    <script src="/js/spySessao.js"></script>
    <script>
        
        $("#botao_problema").click(function() {
            $("#problema").slideToggle();
        });
        $("#botao_resposta").click(function() {
            $("#resposta").slideToggle();
        });
        $("#botao_feedback").click(function() {
            $("#feedback").slideToggle();
        });
        
        $(window).resize(function() {
            redmensionarQuestionário();
        });
        
        redmensionarQuestionário();
        
        function redmensionarQuestionário() {
            var tamanho = $(window).width();
            if(tamanho < 580){
                $(".opcoes_sim_nao").css("display","block");
            }else {
                $(".opcoes_sim_nao").css("display","inline-block");
            }
        }
                                    
    </script>
    <!--========================= Menssagens ============================-->
        <% if(typeof menssagem != 'undefined') { %>
            <script>
                var conf = 1;
                qtdUsersPorSessao(text_colaboractive,situacao,conf);
            </script>
        <% } else { %>
            <script>
                qtdUsersPorSessao(text_colaboractive,situacao);
            </script>
        <% } %>
    
        <% if(typeof menssagemFeedbackSalvo != 'undefined') { %>
            <script>
                FeedbackSalvo();
            </script>
        <% } %>

        <% if (typeof mensagemLiberacaoProfessor != 'undefined') { %>
            <script>
                liberacaoProfessor();
            </script>
        <% } %>
    <!--========================= END - Menssagens ============================-->
</body>

</html>