<!doctype html>
<html lang="pt-br">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.icon" type="image/png">
	<title>Coding Play</title>
    
	<!-- CSS -->
	<link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
    <link href="/css/textCollaboractive.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <style>
        .contagemRegressiva {
            text-align: center;
            text-shadow:1px 1px 5px black;
            font-weight: bold;
            letter-spacing:1px;
            color: #fcfcfc;
            background-color:#ddd;
            padding:1px;
            font-family:Orbitron;
            
        }
        .observadores, .detalhes {
            text-align: center;
            text-shadow:1px 1px 5px black;
            font-weight: bold;
            border-top:2px ridge #fff;
            border-bottom:2px ridge #fff;
            letter-spacing:1px;
            color: #fcfcfc;
            background-color:#ddd;
            padding:1px;
            font-family:Orbitron;
            cursor:pointer;
            
        }
        #detalhes{
            list-style-type:none;
            padding:0px;
            margin:0px;
        }
        #detalhes li{
            font-size: 12px;
            padding:5px;
            border-bottom:1px solid #ddd;
        }
        .valor_lista_detalhes {
            float:right;
            padding:0px 5px 0px 0px;
        }
        .chat {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .message {
          clear: both;
          line-height: 18px;
          font-size: 15px;
          padding: 8px;
          position: relative;
          margin: 8px 0;
          max-width: 85%;
          word-wrap: break-word;
        }
        .message.copiloto_msg {
          background: #f6cdc4;
          border-radius: 5px 0px 5px 5px;
          float: right;
        }
        .message.piloto_msg {
          background: #c4ecf6;
          border-radius: 0px 5px 5px 5px;
          float: left;
        }
        .chat li .chat-body p {
            margin: 0;
            color: #777777;
        }
        .panel-heading {
            cursor:pointer;
            font-weight: bold;
            text-shadow:1px 1px 5px black;
            color: #fff;
            background-color: #efeff5;
            border-color: #f2f2f2;
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        .panel-body {
            overflow-y: scroll;
            min-height:150px;
            max-height:150px;
            padding: 15px;
            border-left: 1px solid #f2f2f2;
        }
        .panel-footer {
            display:none;
        }
        .btn-sm {
            height: 38px;
        }
        .input-sm {
            border-radius: 0px 0px 0px 3px;
            border: 1px solid #f2f2f2;
        }
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }
        ::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }
        ::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }
    </style>
    
    <script> var codigoPusher = "<%= session.usuario.codigo_pusher %>" </script>
    <script> var nomeUsuario = "<%= session.usuario.nome %>" </script>
    <script> var tipoUsuario = "<%= session.tipo %>" </script>
    <script> var participante = "<%=sessao[0].participante%>" </script>
    <script> var idSessao = "<%=sessao[0].id%>" </script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script>
        var channel;
            
        //Alterar Piloto da Sessão
        var idCopiloto = "";
        var idPiloto = "";
        function changePiloto() {
            
            if($(".piloto").html() != undefined) {
                $("<li></li>").insertAfter($("#members li:last-child"));
                $("#members li:last-child").html($("#members li:first-child").html());
                $("#members li:last-child").attr("id",$("#members li:first-child").attr("id"));
                $("#members li:first-child").remove();
            }

            $("#members li:first-child").addClass('piloto');
            $("#members li:last-child").removeClass('piloto');
            $("#members li:nth-child(2)").addClass('copiloto');
            $("#members li:nth-child(1)").removeClass('copiloto');

            $("#members li h3").html("plateia");
            $(".piloto h3").html("piloto");
            $(".copiloto h3").html("copiloto");
            
            var date1 = new Date();
            var date2 = new Date(date1);
            date2.setMinutes(date1.getMinutes()+<%=sessao[0].tempo_rotacao%>);
            $("#cronometro").html(date2);

            $("#idPilotoRecept").html(idPiloto);
            $("#membersBlockSend").val($("#membersBlock").html());

            if(("user-"+codigoPusher) == idCopiloto) {
                $(".panel-footer").hide();
                redimensionarBlocoResposta();
                $("#tipoUserChat").val("");
            }
            
            if(("user-"+codigoPusher) == idPiloto) {
                $(".doc__text-editor").css("pointer-events", "none");
                $(".panel-footer").hide();
                $(".confirm_solução").hide();
                redimensionarBlocoResposta();
                $("#tipoUserChat").val("");
            }
            
            var el = document.querySelector('.piloto');
            idPiloto = el && el.id;
            
            if(("user-"+codigoPusher) == idPiloto) {
                $(".doc__text-editor").css("pointer-events", "auto");
                $(".panel-footer").show();
                $(".confirm_solução").show();
                redimensionarBlocoResposta();
                $("#tipoUserChat").val("piloto");
            }
            
            var el = document.querySelector('.copiloto');
            idCopiloto = el && el.id;
            
            if(("user-"+codigoPusher) == idCopiloto) {
                $(".panel-footer").show();
                redimensionarBlocoResposta();
                $("#tipoUserChat").val("copiloto");
            }
            
            contagemRegressiva();

            return 0;
        }
        
    </script>
</head>
<body>
    <a href="/sessao/info?id=<%=sessao[0].id%>" class="sair_sessao_ativa">
        <div class="participaSessao">Sair</div>
    </a>
    <div class="bloco_problema">
        <h5 id="botaoDesafio">
            Desafio 
            <span class="nome_usuario"><%= session.usuario.nome %></span>
        </h5>
        <p><%=sessao[0].desc_problema%></p>
        
    </div>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-10 bloco_text_collaborative">
                
                
                
                <div class="doc">
                    <div id="doc" class="doc__text-editor"  ></div>
                </div>
                
                <div class="panel panel-info">
                    <div class="panel-heading">Chat</div>
                    <div class="blocoChat">
                        <div class="panel-body" id="panelBody">
                            <input type="text" id="tipoUserChat" hidden>
                            <input type="text" id="msgChatSent" hidden>
                            <ul class="chat" id="chat">
                                
                            </ul>
                        </div>
                        <div class="panel-footer">
                          <div class="input-group">
                            <input id="msgChat" type="text" class="form-control input-sm" placeholder="Digite aqui..." @keyup.enter="joinChat">
                            <span class="input-group-btn">
                              <button class="btn btn-primary btn-sm" id="btnChat">Enviar</button>
                            </span>
                          </div>
                        </div>
                    </div>
                </div>
                    
            </div>
            <div class="col-lg-2 infoSessao">
                <textarea id="membersBlockSend" hidden></textarea>
                <div class="members_block" id="membersBlock">
                    <div id="idPilotoRecept" hidden></div>
                    <div id="inicioSessao" hidden></div>
                    <div id="cronometro" hidden></div>
                    <ul id="members"></ul>
                    <script>
                        $("#members").ready(function() {
                            if($("#idPilotoRecept").html() != ""){
                                idPiloto = $("#idPilotoRecept").html();
                            } else {
                                idPiloto="";
                            }
                            
                            //Documento compartilhado e chat
                            if(("user-"+codigoPusher) == idCopiloto) {
                                $(".panel-footer").hide();
                                redimensionarBlocoResposta();
                                $("#tipoUserChat").val("");
                            }

                            if(("user-"+codigoPusher) == idPiloto) {
                                $(".doc__text-editor").css("pointer-events", "none");
                                $(".panel-footer").hide();
                                $(".confirm_solução").hide();
                                redimensionarBlocoResposta();
                                $("#tipoUserChat").val("");
                            }

                            var el = document.querySelector('.piloto');
                            idPiloto = el && el.id;

                            if(("user-"+codigoPusher) == idPiloto) {
                                $(".doc__text-editor").css("pointer-events", "auto");
                                $(".panel-footer").show();
                                $(".confirm_solução").show();
                                redimensionarBlocoResposta();
                                $("#tipoUserChat").val("piloto");
                            }

                            var el = document.querySelector('.copiloto');
                            idCopiloto = el && el.id;

                            if(("user-"+codigoPusher) == idCopiloto) {
                                $(".panel-footer").show();
                                redimensionarBlocoResposta();
                                $("#tipoUserChat").val("copiloto");
                            }
                            
                            contagemRegressiva();
                            
                        });
                        
                    </script>
                </div>
                
                <div id="contagemRegressiva" class="contagemRegressiva"></div>
                
                <% if(session.usuario.id == sessao[0].id_professor && session.tipo == 'professor' && sessao[0].hora_inicio_realizado == null) { %>
                            <button id="sendAll">Iniciar Sessão</button>
                <% } else if(session.usuario.id == sessao[0].id_professor && session.tipo == 'professor' && sessao[0].hora_inicio_realizado != null) { %>
                            <button id="sendAll">Reiniciar Sessão</button>
                <% } %>
                <div class="observadores" id="botaoObservadores">Observadores</div>
                <ul id="observador"></ul>
                
                <div class="detalhes" id="botaoDetalhes">Detalhes</div>
                <ul id="detalhes">
                    <li>Código<span class="valor_lista_detalhes"><%=sessao[0].nome_sessao%></span></li>
                    <li>Professor<span class="valor_lista_detalhes"><%=sessao[0].nome%></span></li>
                    <li>Tamanho Máximo Grupo<span class="valor_lista_detalhes"><%=sessao[0].tamanho_grupo%> pessoas</span></li>
                    <li>Tempo Rotação<span class="valor_lista_detalhes"><%=sessao[0].tempo_rotacao%> minutos</span></li>
                </ul>
                
                <button id="enviarResposta" class="confirm_solução">Enviar<br>Resposta</button>
                
            </div>
        </div>
    </div>
    
    <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    
    <!-- JS adicionais -->
    <script src="/js/sweetalert2.min.js"></script>
	
    <!-- API Pusher -->
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
    <script src="/js/textCollaboractive.js"></script>
    
    <!-- Funcionamento página sessão -->
    <script>
        function redimensionarBlocoResposta() {
            var alturaJanela = $(window).height();
            var alturaProblema = $('.bloco_problema').height();
            var alturaChat = $('.panel-info').height();
            alturaProblema = Math.ceil(alturaProblema);
            alturaChat = Math.ceil(alturaChat);
            var alturaResposta = (((alturaJanela - alturaProblema)-20)-alturaChat);
            var alturaInfoSessao = ((alturaJanela - alturaProblema)-20);

            $(".doc__text-editor").css("height",alturaResposta);
            $(".infoSessao").css("max-height",alturaInfoSessao);

        }

        redimensionarBlocoResposta();

        $(window).resize(function() {
            redimensionarBlocoResposta();
        });

        $(".bloco_problema h5").click(function() {
            $(".bloco_problema p").slideToggle( function() {
                redimensionarBlocoResposta();
            }); 
        });
        $(".panel-heading").click(function() {
            $(".blocoChat").fadeToggle( function() {
                redimensionarBlocoResposta();
            }); 
        });
    </script>
    <script>
        //Contagem regrassiva
        var intervalId;
        
        function contagemRegressiva() {
                
            var date2 = new Date($("#cronometro").html());
            
            if(isNaN(date2)) {
                return 0;
            }
            if($("#inicioSessao").html() != 'ok') {   
                return 0;
            }
            
            stopContagem();
            
            intervalId = setInterval(function() {

                var now = new Date();

                if($(".piloto").html() === undefined) {
                    $("#contagemRegressiva").html("00:00");
                    stopContagem();
                    
                    var idUserAntigo = oldUser(channel.members.count,channel.members);
                    if(idUserAntigo == ("user-" + codigoPusher)) {
                        changePiloto();
                        channel.trigger('client-members-edit', $("#membersBlockSend").val());
                    }
                    
                    
                } else if(now >= date2) {
                    $("#contagemRegressiva").html("00:00");
                    stopContagem();
                    
                    var idUserAntigo = oldUser(channel.members.count,channel.members);
                    if(idUserAntigo == ("user-" + codigoPusher)) {
                        changePiloto();
                        channel.trigger('client-members-edit', $("#membersBlockSend").val());
                    }
                    
                    
                }

                var timeDiff = (Math.abs(date2.getTime() - now.getTime()) / 1000);
                var minutes = (timeDiff - (timeDiff % 60)) / 60;
                var seconds = Math.floor(timeDiff % 60);
                timeDiff = Math.floor(timeDiff);

                if(minutes<10) {
                    minutes = "0"+minutes;
                }
                if(seconds<10) {
                    seconds = "0"+seconds;
                }

                $("#contagemRegressiva").html(minutes + ":" + seconds);
                

            }, 1000);
        }
        function stopContagem() {
            clearInterval(intervalId);
        }
        $("#sendAll").click(function() {
            $("#inicioSessao").html('ok');
            changePiloto();
        });
        
        function insertMessages() {
            var text = "";
            var tipoUsuario = $("#tipoUserChat").val();
            var msg = $("#msgChat").val();
            
            if(msg != "" && msg != undefined) {
                
                if(tipoUsuario == "piloto") {
                  text = "<li class='message piloto_msg'>";
                } else if(tipoUsuario == "copiloto") {
                  text = "<li class='message copiloto_msg'>";
                }
                text += "<div class='chat-body clearfix'>";
                text += "<strong class='primary-font'>";
                text += nomeUsuario;
                text += "</strong><p>";
                text += msg;
                text += "</p></div></li>";

                $("#chat").prepend(text);
            } 
            
        }
        
        $("#btnChat").click(function() {
            insertMessages();
            var el =document.getElementById("panelBody");
            var height = el.scrollHeight;
            el.scrollBottom = height;
            $("#msgChatSent").val($("#msgChat").val());
            $("#msgChat").val("");
        });
        $("#msgChat").on('keypress',function(e) {
            if(e.which == 13) {
                insertMessages();
                var el =document.getElementById("panelBody");
                var height = el.scrollHeight;
                el.scrollBottom = height;
                $("#msgChatSent").val($("#msgChat").val());
                $("#msgChat").val("");
            }
        });
        
        function oldUser(countMembers,membersOnline) {
            var acessoOld= new Date(membersOnline.me.info.acesso);
            var idUser = membersOnline.me.id;

            membersOnline.each(function(member) {
                var membroAcesso = new Date(member.info.acesso);

                if(membroAcesso < acessoOld) {
                    idUser = member.id;
                    acessoOld = new Date(member.info.acesso);
                }
            });

            return idUser;
        }
        
        function confirmarResposta() {
            var usuarioSeletor = "#user-"+codigoPusher+" h3";
            var funcaoSessao = $(usuarioSeletor).html();
            
            if(funcaoSessao == 'copiloto') {
                Swal.fire({
                    title: 'Concorda com a solução ?',
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim',
                    cancelButtonText: 'Não'
                }).then((result) => {
                    if (result.value) {
                        
                        
                        var resposta = $("#doc").text();
                        var qtdParticipantes = $("#members li").length;
                        var participantes = "";
                        for(i=1; i <= qtdParticipantes; i++){
                            var participante = $("#members li:nth-child("+i+")").attr('id');
                            participantes += (participante.substring(5,21)+"/");
                        }
                        
                        var horaFinal = getTimeAndDate(new Date());

                        window.location = "/sessao/confirm?resposta="+resposta+"&participantes="+participantes+"&horaFinal="+horaFinal+"&sessao_id="+<%=sessao[0].id%>
 
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        channel.trigger('client-members_alert', {func : 2});
                        alertRetomarSessao();
                    }
                })
            } else {
                Swal.fire({
                    title: 'Finalizando sessão',
                    text: "aguardando confirmação do copiloto para finalizar"
                })
            }
            
            
        }
        
        $("#enviarResposta").click(function() {
            confirmarResposta();
        });
        
        function getTimeAndDate(date) {
            var now = new Date(date);
            
            var year = now.getFullYear();
            var month = now.getMonth()+1;
            var data = now.getDate();
            var hours = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();
            
            month = verificaTamanhoData(month);
            data = verificaTamanhoData(data);
            hours = verificaTamanhoData(hours);
            minutes = verificaTamanhoData(minutes);
            seconds = verificaTamanhoData(seconds);
            
            return year+"-"+month+"-"+data+" "+hours+":"+minutes+":"+seconds;
        }
        function verificaTamanhoData(valor) {
            if(valor < 10) {
                valor = "0"+valor;
            }
            
            return valor;
        }
        
        function alertRetomarSessao() {
            let timerInterval
            Swal.fire({
              title: 'Envio cancelado',
              html: 'Retomando sessão em <strong></strong> segundos',
              timer: 3000,
              onBeforeOpen: () => {
                Swal.showLoading()
                timerInterval = setInterval(() => {
                  Swal.getContent().querySelector('strong')
                    .textContent = Swal.getTimerLeft()
                }, 100)
              },
              onClose: () => {
                clearInterval(timerInterval)
              }
            })
        }
        
        function finalizandoSessao() {
            let timerInterval
            Swal.fire({
              title: 'Sessão finalizada',
              html: 'finalizando em <strong></strong> segundos',
              timer: 3000,
              onBeforeOpen: () => {
                Swal.showLoading()
                timerInterval = setInterval(() => {
                  Swal.getContent().querySelector('strong')
                    .textContent = Swal.getTimerLeft()
                }, 100)
              },
              onClose: () => {
                clearInterval(timerInterval);
              }
            })
            window.location = "/sessao/info?id=<%=sessao[0].id%>";
        }
        
        $("#botaoDetalhes").click(function() {
            $("#detalhes").slideToggle();
        });
        $("#botaoObservadores").click(function() {
            $("#observador").slideToggle();
        });
    </script>
</body>
    
</html>